---
import type { TLangText } from '../i18n'
export interface Props {
  t: TLangText
}
const { t } = Astro.props
import case1 from '../assets/case_1.png'
import case2 from '../assets/case_2.png'
import case3 from '../assets/case_3.png'
import { Image } from 'astro:assets'
const devalokaLink = 'https://t.me/LeelaDevalokabot'
const transcrLink = 'https://t.me/contentville_transcript_bot'
const foryourhomeLink = t.cases.foryourhomeLink
---

<div class="cases">
  <div class="cases-links">
    <h3>{t.cases.title}</h3>
    <div class="links">
      <a href={foryourhomeLink} target="_blank">foryourhome.art</a>
      <a href={devalokaLink} target="_blank">@LeelaDevalokabot</a>
      <!-- <a href="https://t.me/Energy_Desenko_bot" target="_blank">@Energy_Desenko_bot</a> -->
      <a href={transcrLink} target="_blank">@contentville_transcript_bot</a>
      <!-- <a href="https://t.me/VoiceAuthor_bot" target="_blank">@VoiceAuthor_bot</a> -->
    </div>
  </div>
  <div class="cases-list">
    <div class="case-img">
      <a href={devalokaLink} target="_blank">
        <Image src={case1} alt="Devaloka case" quality={100} />
      </a>
    </div>
    <div class="case-img">
      <a href={transcrLink} target="_blank">
        <Image src={case2} alt="Transcript bot case" quality={100} />
      </a>
    </div>
    <div class="case-img">
      <a href={foryourhomeLink} target="_blank">
        <Image src={case3} alt="For Your Home case" quality={100} />
      </a>
    </div>
  </div>
</div>
<style>
  .cases {
    margin-top: 50px;
    h3 {
      font-size: 16px;
      color: var(--color-primary);
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }
  .links {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 6px;
  }
  .case-img picture {
    display: contents;
  }
  .case-img {
    width: 250px;
    position: relative;
    aspect-ratio: 107 / 219;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: drop-shadow(0 0 45px rgba(112, 113, 232, 0.4)) drop-shadow(0 0 8px #100014);
      will-change: filter;
    }
    @media (max-width: 1280px) {
      width: 200px;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .cases-list {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .cases-links {
    margin-top: 40px;
    position: relative;
    .vector {
      position: absolute;
      bottom: 0;
      transform: translate(-5%, 85%);
      left: 0;
      width: 1000px;
      @media (max-width: 1280px) {
        width: 100%;
      }
      z-index: -1;
      user-select: none;
    }
    @media (max-width: 1024px) {
      width: 100%;
      order: 10;
    }
  }
</style>
