---
import type { TLangText } from '../i18n'

export interface Props {
  t: TLangText
}
const { t } = Astro.props
import vector4 from '../assets/vector_bg_4.svg'
import vc from '../assets/icons/vc.svg'
import telegram from '../assets/icons/telegram.svg'
import dzen from '../assets/icons/dzen.svg'
import behance from '../assets/icons/behance.svg'
---

<div class="contacts">
  <h3>{t.contacts.title}</h3>
  <div class="contacts-list">
    <!-- <div>
      <span>Telegram:</span><a href="https://t.me/soul_dev_chat" target="_blank">@soul_dev_chat</a>
    </div>
    <div>
      <span>{t.contacts.tg_chanel}</span>
      <a href="https://t.me/soul_dev_channel" target="_blank">@soul_dev_channel</a>
    </div>
    <div>
      <span>{t.contacts.tg_bot}</span><a href="https://t.me/soul_dev_bot" target="_blank">
        @soul_dev_bot
      </a>
    </div>
    <div> -->
      <a href="mailto:team@souldev.site" target="_blank">
        team@souldev.site
      </a>
    </div>
  <div class="delimiter"/>
    <div class="media-list">
      <a href="https://t.me/soul_dev_channel" target="_blank">
        <img src={telegram.src} alt="Telegram"  height="24"/>
      </a>
      <a href="https://vc.ru/id5175793" target="_blank">
        <img src={vc.src} alt="VC"  height="24"/>
      </a> 
      <a href="https://clck.ru/3PJeTT" target="_blank">
        <img src={dzen.src} alt="Dzen"  height="24"/>
      </a>
      <a href="https://www.behance.net/soul-dev" target="_blank">
        <img src={behance.src} alt="Behance"  height="24"/>
      </a>
    </div>
  <img class="vector" alt="" src={vector4.src} />

  <style>
    .contacts {
      display: inline-block;
      margin-top: 50px;
      padding: 16px;
      border: 2px solid rgba(112, 113, 232, 0.36);
      box-shadow: 0px 0px 20px 0px rgba(112, 113, 232, 0.3);
      border-radius: 10px;
      backdrop-filter: blur(2px);
    }
    .delimiter {
      margin-top: 10px;
      height: 1px;
      width: 100%;
      background: rgba(112, 113, 232, 0.36);
    }
    .contacts-list {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      > div {
        display: flex;
        gap: 4px;
      }
    }
    .media-list {
      margin-top: 10px;
      display: flex;
      gap: 12px;
    }
    h3 {
      font-size: 16px;
      font-weight: 700;
      color: var(--color-primary);
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
    .vector {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      z-index: -1;
      user-select: none;
    }
  </style>
</div>
