---
import type { TLangText } from '../i18n'
export interface Props {
  t: TLangText
}
const { t } = Astro.props
import vector1 from '../assets/vector_bg_1.svg'
---

<div class="greeting">
  <img src={vector1.src} alt="" class="vector" />
  <h1>{t.title}</h1>
  <h2 class="greeting-text">{t.greeting}</h2>
  <p class="who-we-are">
    <span>{t.who_we_are_1.color}</span>&nbsp;{t.who_we_are_1.text}
  </p>
  <p class="who-we-are">{t.who_we_are_2.text}</p>
</div>

<style>
  .greeting {
    margin-top: 30px;
  }
  .vector {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    z-index: -1;
    user-select: none;
  }
  h1 {
    font-size: 28px;
    line-height: 100%;
    @media (max-width: 768px) {
      font-size: 22px;
    }
  }
  .greeting-text {
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  .who-we-are {
    margin-top: 20px;
    span {
      color: var(--color-primary);
    }
  }
</style>
